In [80]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from astropy.io import ascii
from scipy import stats

In [161]:
home = ascii.read("home.csv", names=names)

In [162]:
home

<Table length=276>
        Aadit                 Adam        ...           Thaddeus
        str21                str19        ...            str27
--------------------- ------------------- ... ---------------------------
      "Aadit Gupta=>6      Adam Tonks=>11 ...       Thaddeus Cochrane=>1"
      "Aadit Gupta=>8 Adam Tonks=>NO VOTE ... Thaddeus Cochrane=>NO VOTE"
"Aadit Gupta=>NO VOTE Adam Tonks=>NO VOTE ... Thaddeus Cochrane=>NO VOTE"
"Aadit Gupta=>NO VOTE Adam Tonks=>NO VOTE ... Thaddeus Cochrane=>NO VOTE"
"Aadit Gupta=>NO VOTE Adam Tonks=>NO VOTE ...       Thaddeus Cochrane=>7"
"Aadit Gupta=>NO VOTE      Adam Tonks=>10 ...      Thaddeus Cochrane=>12"
     "Aadit Gupta=>11      Adam Tonks=>10 ... Thaddeus Cochrane=>NO VOTE"
     "Aadit Gupta=>14      Adam Tonks=>13 ...      Thaddeus Cochrane=>10"
      "Aadit Gupta=>4      Adam Tonks=>14 ...      Thaddeus Cochrane=>12"
     "Aadit Gupta=>11      Adam Tonks=>10 ... Thaddeus Cochrane=>NO VOTE"
                  ...                 ... ...                         ...
       "Aadit Gupta=>        Adam Tonks=> ...        Thaddeus Cochrane=>"
      "Aadit Gupta=>6      Adam Tonks=>11 ... Thaddeus Cochrane=>NO VOTE"
      "Aadit Gupta=>8       Adam Tonks=>7 ...      Thaddeus Cochrane=>14"
     "Aadit Gupta=>10      Adam Tonks=>12 ...      Thaddeus Cochrane=>14"
"Aadit Gupta=>NO VOTE       Adam Tonks=>5 ...       Thaddeus Cochrane=>3"
      "Aadit Gupta=>7      Adam Tonks=>13 ...      Thaddeus Cochrane=>14"
     "Aadit Gupta=>11       Adam Tonks=>6 ... Thaddeus Cochrane=>NO VOTE"
     "Aadit Gupta=>14      Adam Tonks=>13 ...      Thaddeus Cochrane=>10"
      "Aadit Gupta=>7 Adam Tonks=>NO VOTE ... Thaddeus Cochrane=>NO VOTE"
"Aadit Gupta=>NO VOTE       Adam Tonks=>2 ...       Thaddeus Cochrane=>3"

In [163]:
print scipy.stats.itemfreq(home['Keith'])

print scipy.stats.itemfreq(home['Joceline'])

[['Keith Yaow=>' '7']
 ['Keith Yaow=>1' '4']
 ['Keith Yaow=>10' '14']
 ['Keith Yaow=>11' '16']
 ['Keith Yaow=>12' '16']
 ['Keith Yaow=>13' '12']
 ['Keith Yaow=>14' '2']
 ['Keith Yaow=>2' '8']
 ['Keith Yaow=>3' '8']
 ['Keith Yaow=>4' '12']
 ['Keith Yaow=>5' '10']
 ['Keith Yaow=>6' '9']
 ['Keith Yaow=>7' '12']
 ['Keith Yaow=>8' '21']
 ['Keith Yaow=>9' '19']
 ['Keith Yaow=>NO VOTE' '106']]
[['Joceline Yong=>' '5']
 ['Joceline Yong=>1' '46']
 ['Joceline Yong=>10' '9']
 ['Joceline Yong=>11' '12']
 ['Joceline Yong=>12' '4']
 ['Joceline Yong=>13' '1']
 ['Joceline Yong=>14' '1']
 ['Joceline Yong=>2' '30']
 ['Joceline Yong=>3' '23']
 ['Joceline Yong=>4' '26']
 ['Joceline Yong=>5' '28']
 ['Joceline Yong=>6' '20']
 ['Joceline Yong=>7' '13']
 ['Joceline Yong=>8' '10']
 ['Joceline Yong=>9' '11']
 ['Joceline Yong=>NO VOTE' '37']]

In [167]:
home_2 = home

In [188]:
#to remove "No Vote","No","" and replace them with "15" (lowest possible value)

def strip_strings(x):
    for index in range(0,len(x)):
        for second_index in range(0,len(x[0])):
            if "=>" in x[index][second_index]:
                x[index][second_index] = (x[index][second_index]).split("=>")[1].replace('"',"")
            
    for index in range(0,len(x)):
        for second_index in range(0,len(x[0])):
            if (x[index][second_index]=="NO VOTE")|(x[index][second_index]=="")|(x[index][second_index]=="NO"):
                x[index][second_index]= int(15)
            else:
                x[index][second_index]= int(x[index][second_index])

In [189]:
strip_strings(all_data)

In [187]:
home_2[0]

<Row index=0>
Aadit  Adam Annette Diamanta Isaac Isobel  Jay  Joceline Keith Meredith Regina  Ross Scott Thaddeus
str21 str19  str19   str22   str18 str19  str17  str22   str19  str22   str25  str20 str21  str27
----- ----- ------- -------- ----- ------ ----- -------- ----- -------- ------ ----- ----- --------
    6    11       3       13    14     15    15        5     2        5      7    12     6        1

In [180]:
from astropy.table import Table, vstack

In [178]:
abroad = ascii.read("abroad.csv", names=names)

In [182]:
all_data = vstack([home, abroad])

In [184]:
names

['Aadit',
 'Adam',
 'Annette',
 'Diamanta',
 'Isaac',
 'Isobel',
 'Jay',
 'Joceline',
 'Keith',
 'Meredith',
 'Regina',
 'Ross',
 'Scott',
 'Thaddeus']

In [99]:
values = np.array([np.array([t.split("=>")[1].replace('"',"") for t in home[x]]) for x in range(0, len(home))])

In [103]:
def array_processor(x):
    for index in range(0,len(x)):
        if (x[index]!='NO VOTE') & (x[index]!=''):
            x[index] = int(x[index])
        else:
            x[index] = 15

In [108]:
for x in range(0, len(home)):
    array_processor(values[x])

In [25]:
get_names = home_data[0]

In [39]:
names = [x.split()[0] for x in get_names]

In [41]:
names[0] = 'Aadit'

In [154]:
values

array([['6', '11', '3', ..., '12', '6', '1'],
       ['8', '15', '4', ..., '5', '15', '15'],
       ['15', '15', '15', ..., '15', '2', '15'],
       ...,
       ['14', '13', '5', ..., '11', '2', '10'],
       ['7', '15', '6', ..., '8', '3', '15'],
       ['15', '2', '1', ..., '8', '5', '3']],
      dtype='|S7')

In [190]:
all_data

<Table length=307>
Aadit  Adam Annette Diamanta Isaac ... Meredith Regina  Ross Scott Thaddeus
str21 str19  str19   str22   str18 ...  str22   str25  str20 str21  str27
----- ----- ------- -------- ----- ... -------- ------ ----- ----- --------
    6    11       3       13    14 ...        5      7    12     6        1
    8    15       4       15     2 ...        5      3     5    15       15
   15    15      15       15    15 ...       15      3    15     2       15
   15    15       4        5    15 ...        1      3     6    15       15
   15    15      15       15     1 ...       15      4     5    15        7
   15    10       9        2     1 ...        7      6     8    15       12
   11    10       3        6     7 ...        2      4    13     1       15
   14    13      12       11     1 ...        7      4     9     5       10
    4    14       8       13     1 ...        3     10     6     7       12
   11    10       4        6     9 ...        1      2    13     3       15
  ...   ...     ...      ...   ... ...      ...    ...   ...   ...      ...
   10    13       6        1     7 ...        3      2    12     8       15
   11     9       3        5    14 ...        4      8    12     1       13
    2    15      15        3    15 ...        1     15    15    15       15
   15    15       6        7     4 ...        3      1     9    15        8
   15    10       2        1    11 ...        5      6     8     7       15
    9    15       7        6    15 ...        8      2    10     3       15
   15    15       1        2    15 ...        4      5    15    15       15
   15    15       2        3     6 ...       15      4    15    15       15
   15     7       5        6     8 ...        1      4    15     2       10
   15    15       2        1    15 ...       15      3    15    15       15

In [191]:
all_data[0]

<Row index=0>
Aadit  Adam Annette Diamanta Isaac Isobel  Jay  Joceline Keith Meredith Regina  Ross Scott Thaddeus
str21 str19  str19   str22   str18 str19  str17  str22   str19  str22   str25  str20 str21  str27
----- ----- ------- -------- ----- ------ ----- -------- ----- -------- ------ ----- ----- --------
    6    11       3       13    14     15    15        5     2        5      7    12     6        1

In [197]:
t = [[(0,0,0) for x in range(14)] for x in range(14)]

In [198]:
t[0][0]

(0, 0, 0)

In [ ]:
def match_func(x,y):
    table

In [ ]:
#take a given permutation and tabulate score
def get_score(perm):
    score= np.zeros(len(perm))
    for x in range(0, len(perm)-1):
        for y in range(x,len(perm)):
            score[y]= score[y] + match_func(perm[x],perm[y])
    return score